body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.header-area{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    height: 1073px;    
}
.title-black{
    color: black;
    font-size: 50px;
}
.half-width {
	width: 35%;
	float: left;
}
#header-area-left {
	margin: 350px 0px 0px 257px;
}
#header-area-right {
	margin: 209px 0px 0px 61px;
}
.text-highlight {
	font-size: 70px;
	color: #EC4C7A;
	font-weight: bolder;
}
p{
    color: dimgray;
}
.button-color{
	text-decoration: none;
	background-color: #EC4C7A;
	color: white;
	padding: 9px 20px;
	border-radius: 4px;
	font-size: 20px;
	font-weight: bolder;
}
img {
	width:100%;
}
.biography-area{
    height: 875px;
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
#biography-area-left {
	padding: 98px 13px 0 209px;
}
#biography-area-right {
	padding: 207px 0px 0px 95px;
	margin-left: 66px;
}
.title{
    font-size: 50px;
}
.my-latest-work-area{
	height: 1162px;
	background-image: url(images/latest-work-bg.png);
	background-repeat: no-repeat;
}
#latest-work-title{
	font-size: 50px;
}
.img-area {
	width: 25%;
	float: left;
	margin-left: 120px;
}
.client-feedback{
	height: 1197px;
	background-image: url(images/footer-bg.png);
	background-repeat: no-repeat;
	text-align: center;
}